---
// Blog Home section
import news7 from '../../assets/img/news/7.jpg';
import news3 from '../../assets/img/news/3.jpg';
import news9 from '../../assets/img/news/9.jpg';
import news8 from '../../assets/img/news/8.jpg';
import news2 from '../../assets/img/news/2.jpg';
import news5 from '../../assets/img/news/5.jpg';
---

<section class="blog-home section-padding">
    <div class="container">
        <div class="row mb-30">
            <div class="col-md-3">
                <div class="sub-title border-bot-light">Our Blog</div>
            </div>
            <div class="col-md-9">
                <div class="section-title">Latest News</div>
                <p>Property ut nisl quam nestibulum ac quam nec odio elementum sceisue the aucan ligula. Orci varius natoque senatibus et magnis narturient monte nascete ridiculus mus nellentesque habitant morbine.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="owl-carousel owl-theme">
                    <div class="item bg-img" data-background={news7.src}>
                        <div class="content">
                            <div class="info">
                                <a href="blog.html"> <span><i class="ti-time" aria-hidden="true"></i>28 Dec 2025</span></a>
                            </div>
                            <a href="post.html">
                                <h5>2 Family Room Options with Double BedApartments </h5>
                            </a>
                            <p>Nulla tincidunt ante the sit amet suscition ullamcorpen risus sigula pharetra sapien viverra odio ante masna.</p>
                            <div class="arrow"> <a href="post.html"><span class="ti-arrow-right"></span></a> </div>
                        </div>
                    </div>
                    <div class="item bg-img" data-background={news3.src}>
                        <div class="content">
                            <div class="info">
                                <a href="blog.html"> <span><i class="ti-time" aria-hidden="true"></i>26 Dec 2025</span></a>
                            </div>
                            <a href="post.html">
                                <h5>Luxury Property Experience: Heated Pools</h5>
                            </a>
                            <p>Nulla tincidunt ante the sit amet suscition ullamcorpen risus sigula pharetra sapien viverra odio ante masna.</p>
                            <div class="arrow"> <a href="post.html"><span class="ti-arrow-right"></span></a> </div>
                        </div>
                    </div>
                    <div class="item bg-img" data-background={news9.src}>
                        <div class="content">
                            <div class="info">
                                <a href="blog.html"> <span><i class="ti-time" aria-hidden="true"></i>24 Dec 2025</span></a>
                            </div>
                            <a href="post.html">
                                <h5>What is the Meaning of Resort Hotel?</h5>
                            </a>
                            <p>Nulla tincidunt ante the sit amet suscition ullamcorpen risus sigula pharetra sapien viverra odio ante masna.</p>
                            <div class="arrow"> <a href="post.html"><span class="ti-arrow-right"></span></a> </div>
                        </div>
                    </div>
                    <div class="item bg-img" data-background={news8.src}>
                        <div class="content">
                            <div class="info">
                                <a href="blog.html"> <span><i class="ti-time" aria-hidden="true"></i>22 Dec 2025</span></a>
                            </div>
                            <a href="post.html">
                                <h5>Luxury Property Bathroom Collections</h5>
                            </a>
                            <p>Nulla tincidunt ante the sit amet suscition ullamcorpen risus sigula pharetra sapien viverra odio ante masna.</p>
                            <div class="arrow"> <a href="post.html"><span class="ti-arrow-right"></span></a> </div>
                        </div>
                    </div>
                    <div class="item bg-img" data-background={news2.src}>
                        <div class="content">
                            <div class="info">
                                <a href="blog.html"> <span><i class="ti-time" aria-hidden="true"></i>20 Dec 2025</span></a>
                            </div>
                            <a href="post.html">
                                <h5>What are the Benefits of the Spa?</h5>
                            </a>
                            <p>Nulla tincidunt ante the sit amet suscition ullamcorpen risus sigula pharetra sapien viverra odio ante masna.</p>
                            <div class="arrow"> <a href="post.html"><span class="ti-arrow-right"></span></a> </div>
                        </div>
                    </div>
                    <div class="item bg-img" data-background={news5.src}>
                        <div class="content">
                            <div class="info">
                                <a href="blog.html"> <span><i class="ti-time" aria-hidden="true"></i>18 Dec 2025</span></a>
                            </div>
                            <a href="post.html">
                                <h5>Choosing a Property to Have a Business Meeting</h5>
                            </a>
                            <p>Nulla tincidunt ante the sit amet suscition ullamcorpen risus sigula pharetra sapien viverra odio ante masna.</p>
                            <div class="arrow"> <a href="post.html"><span class="ti-arrow-right"></span></a> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
