---
// Header component with navigation menu and logo
import { Image } from "astro:assets";
import logoLight from "../assets/img/logo-large.png";

import { getCollection, getEntry } from "astro:content";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import { languages, defaultLang } from "../i18n/ui";

interface Props {
  lang?: "en" | "el";
}
const { lang: propLang } = Astro.props;

const lang = propLang || getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const { pathname } = Astro.url;
const base = lang === defaultLang ? "" : `/${lang}`;

import grFlag from "../assets/flags/gr.png";
import gbFlag from "../assets/flags/gb.png";

// Get accommodation from content collection
const accommodation = (await getCollection("accommodation", (room) => room.slug.startsWith(lang + "/"))).sort((a, b) => a.data.order - b.data.order);
const settings = await getEntry("settings", "site");
if (!settings) throw new Error("Settings not found");

let enPath, elPath;

// Accommodation
if (pathname.startsWith("/el/accommodation/")) {
  const slug = pathname.substring("/el/accommodation/".length);
  elPath = pathname;
  enPath = `/accommodation/${slug}`;
} else if (pathname.startsWith("/accommodation/")) {
  const slug = pathname.substring("/accommodation/".length);
  enPath = pathname;
  elPath = `/el/accommodation/${slug}`;
}
// Attractions
else if (pathname.startsWith("/el/mykonos/attractions/")) {
  const slug = pathname.substring("/el/mykonos/attractions/".length);
  elPath = pathname;
  enPath = `/mykonos/attractions/${slug}`;
} else if (pathname.startsWith("/mykonos/attractions/")) {
  const slug = pathname.substring("/mykonos/attractions/".length);
  enPath = pathname;
  elPath = `/el/mykonos/attractions/${slug}`;
}
// Static pages
else if (lang === "el") {
  elPath = pathname;
  enPath = pathname.substring(3) || "/";
} else {
  // lang === 'en'
  enPath = pathname;
  elPath = `/el${pathname === "/" ? "" : pathname}`;
}
---

<!-- Navbar -->
<nav class="navbar navbar-expand-lg">
  <div class="container">
    <!-- Logo -->
    <div class="logo-wrapper">
      <a href={base || "/"} class="logo">
        <Image src={logoLight} alt='Logo"' width={200} class="logo-img" />
      </a>
    </div>
    <!-- Button -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbar"
      aria-controls="navbar"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"><i class="ti-menu"></i></span>
    </button>
    <!-- Menu -->
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
            Home <i class="ti-angle-down"></i>
          </a>
          <ul class="dropdown-menu">
            <li><a href="index.html" class="dropdown-item active"><span>Home Layout 1</span></a></li>
            <li><a href="index2.html" class="dropdown-item"><span>Home Layout 2</span></a></li>
            <li><a href="index3.html" class="dropdown-item"><span>Home Layout 3</span></a></li>
            <li><a href="index4.html" class="dropdown-item"><span>Home Layout 4</span></a></li>
            <li><a href="index5.html" class="dropdown-item"><span>Video 1</span></a></li>
            <li><a href="index6.html" class="dropdown-item"><span>Video 2</span></a></li>
            <li><a href="index7.html" class="dropdown-item"><span>Video 3</span></a></li>
            <li><a href="index8.html" class="dropdown-item"><span>Slideshow 1</span></a></li>
            <li><a href="index9.html" class="dropdown-item"><span>Slideshow 2</span></a></li>
            <li><a href="index10.html" class="dropdown-item"><span>Slideshow 3</span></a></li>
            <li><a href="index11.html" class="dropdown-item"><span>Parallax Image 1</span></a></li>
            <li><a href="index12.html" class="dropdown-item"><span>Parallax Image 2</span></a></li>
            <li><a href="index13.html" class="dropdown-item"><span>Parallax Image 3</span></a></li>
            <li><a href="index14.html" class="dropdown-item"><span>Grid Background 1</span></a></li>
            <li><a href="index15.html" class="dropdown-item"><span>Grid Background 2</span></a></li>
          </ul>
        </li>
        <li class="nav-item"><a class="nav-link" href="about.html">About</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
            Rooms & Suites <i class="ti-angle-down"></i>
          </a>
          <ul class="dropdown-menu">
            <li><a href="rooms.html" class="dropdown-item"><span>Rooms 1</span></a></li>
            <li><a href="rooms2.html" class="dropdown-item"><span>Rooms 2</span></a></li>
            <li><a href="rooms3.html" class="dropdown-item"><span>Rooms 3</span></a></li>
            <li><a href="room-details.html" class="dropdown-item"><span>Room Details</span></a></li>
          </ul>
        </li>
        <li class="nav-item"><a class="nav-link" href="restaurant.html">Restaurant</a></li>
        <li class="nav-item"><a class="nav-link" href="spa-wellness.html">Spa</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
            Pages <i class="ti-angle-down"></i>
          </a>
          <ul class="dropdown-menu">
            <li><a href="services.html" class="dropdown-item"><span>Services</span></a></li>
            <li><a href="facilities.html" class="dropdown-item"><span>Facilities</span></a></li>
            <li><a href="gallery.html" class="dropdown-item"><span>Gallery</span></a></li>
            <li><a href="team.html" class="dropdown-item"><span>Team</span></a></li>
            <li><a href="pricing.html" class="dropdown-item"><span>Pricing</span></a></li>
            <li><a href="careers.html" class="dropdown-item"><span>Careers</span></a></li>
            <li><a href="faq.html" class="dropdown-item"><span>F.A.Qs</span></a></li>
            <li class="dropdown-submenu dropdown">
              <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false" href="#">
                <span>Other Pages <i class="ti-angle-right"></i></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="404.html" class="dropdown-item"><span>404 Page</span></a></li>
                <li><a href="coming-soon.html" class="dropdown-item"><span>Coming Soon</span></a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
            News <i class="ti-angle-down"></i>
          </a>
          <ul class="dropdown-menu">
            <li><a href="news.html" class="dropdown-item"><span>News 1</span></a></li>
            <li><a href="news2.html" class="dropdown-item"><span>News 2</span></a></li>
            <li><a href="post.html" class="dropdown-item"><span>Post Page</span></a></li>
          </ul>
        </li>
        <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
